// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'font-awesome/css/font-awesome';


// body {
//     max-height: auto;
//     overflow: hidden;
//   }
  
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}
